body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  --primaryBgColor1: #384dba;
  --primaryBgColor2: #0a8dc1;
  --secondaryBgColor1: #03034A;
  --secondaryBgColor2: #0A8DC1;
  --primaryTextColor1: #ffffff;
  --primaryTextColor2: #000000;
}
